div.emojiWrapper {
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

div#haikuEmoji {
  font-size: var(--font-size-x-large);
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  filter: drop-shadow(3px 5px black );
  filter: blur(1px);

}

div.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}