body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-secondary);
  overflow: hidden;
}

nav {
  margin: 1rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: var(--color-secondary);
}

a:hover {
  color: var(--color-highlight);
}

footer {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  /* position: sticky; */
}

::-webkit-scrollbar {
  width: 0;
}
