
body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-secondary);
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

div.navContainer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  display: flex;
  width: 100vw;
}

nav {
  background: var(--color-secondary);
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

  a {
    padding: .25em;
  }
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-highlight);
}

header { 
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 0;
}
